<div id="footer-container">
    <div id="access"> دسترسی سریع</div>
    <ul id="ul-one">
        <li>قوانین</li>
        <li>درباره ما</li>
        <li>سوالات متداول</li>
        <li>پیگیری شکایات</li>
        <li>صفحه اصلی</li>
    </ul>
    <ul id="ul-tow"
        <li>مردانه</li>
        <li>زنانه</li>
        <li>کودکانه</li>
        <li>تماس با ما</li>
        <li>شرایط مرجوعی</li>
    </ul>
    this is my footer
</div>